PORT=3002
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=lec28




AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
CLOUDFRONT_URL=

JWT_SECRET=
JWT_EXPIRES_IN=1d
OTP_EXPIRATION_MINUTES=10

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=Movies App <no-reply@movies-app.com>